#map {
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -4;
    width: auto;
    height: auto;
}

#pano {
  width: 200px;
  height: 200px;
}